<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<div class="jumbotron text-center color-dark bg-white">
  <div class="container">

    <h1>Dunshire Consulting</h1>
    <div class="">
      <h2>
       <a class="btn btn-blue btn-theme btn-sm btn-min-block" href="#Project"><h4>Add a Project</h4></a>
       <a class="btn btn-blue btn-theme btn-sm btn-min-block" href="#Employee"><h4>Add an Employee</h4></a>
       <a class="btn btn-blue btn-theme btn-sm btn-min-block" href="#Staffing"><h4>Projects That Need Staffing</h4></a>
       <a class="btn btn-blue btn-theme btn-sm btn-min-block" href="#Status"><h4>Set Project Status</h4></a>
       </h2>
    </div>

  </div>
</div>

<!-- ##################################################################### -->
<div class="container">
  <hr>
  <div class="row">
    
      <section id="Project" class="home-section color-dark bg-white">
      <h1><span class="glyphicon glyphicon-plus"></span> Add A Project</h1>
      <ul>

      <div class="section-heading text-center">
        <form name = "insert_project_form">
          <h3>Project Name:</h3>
          <input type="text" name="project"> 

          <h3>Client Name:</h3>
          <input type="text" name="client"> 

          <h3>Focus Area:</h3>
          <input type="text" name="focus"> 

          <h3>Role Needed:</h3> 
          <input type="text" name="role"> 

         <!-- <form action="/action_page.php">
          <input type="checkbox" name="role1" value="Consultant">Consultant<br>
          <input type="checkbox" name="role2" value="Experienced Consultant">Experienced Consultant<br>
          <input type="checkbox" name="role3" value="Senior Consultant">Senior Consultant<br>
          <input type="checkbox" name="role4" value="Manager">Manager<br>
          <input type="checkbox" name="role5" value="Architect">Architect<br>
          <input type="checkbox" name="role6" value="Director">Director<br>
          <input type="checkbox" name="role6" value="Principal">Principal<br>
          -->

          <h3>Skill Needed:</h3>  
          <input type="text" name="skill"> 
          <!--
          <form action="/action_page.php">
          <input type="checkbox" name="skill1" value="Management">Management<br>
          <input type="checkbox" name="skill2" value="C++">C++<br>
          <input type="checkbox" name="skill3" value="Java">Java<br>
          <input type="checkbox" name="skill4" value="HTML">HTML<br>
          <input type="checkbox" name="skill5" value="C#">C#<br>
          <input type="checkbox" name="skill6" value="Python">Python<br>
          <input type="checkbox" name="skill6" value="JavaScript">JavaScript<br>
          -->
          <p>
            <button type="button" id = "submit_project_form">
            Submit
            </button>
          </p>
        </form> 
        </div>
        </section>

       <!-- <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li> -->
      </ul>
    </div>

    <!-- ##################################################################### -->
    <div class>
    <section id="Employee" class="home-section color-dark bg-white">
      <h1><span class="glyphicon glyphicon-user"></span> Add an Employee</h1>
      <ul>
      
      <div class="section-heading text-center">
        <form name = "insert_employee_form">

          <h3> Full Name:</h3>
          <input type="text" name="fullname"> 

          <h3> Role:</h3>
          <input type="text" name="role"> 

          <h3>Focus Area:</h3> 
          <input type="text" name="role"> 
          

          <h3>Skills:</h3> 
          <input type="text" name="role"> 
          

          <p>
            <button type="button" id = "submit_employee_form">
            Submit
            </button>
          </p>
        </form>
        </div>          
        </section>
        <script type = "text/javaspcript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
                   <script type="application/javascript">
             
                        document.getElementById("submit_proj_form").addEventListener("click", submit)
                       function submit()
                       {
                           var form = document.forms['insert_proj_form']
                           var inputs=form.getElementsByTagName('input')
                           var data = {}
                           for(var i = 0; i<inputs.length; i++)
                           {
                               var input = inputs[i]
                               data[input.name] = input.value
                           }
                            $.ajax({
                               type:'POST',
                               data: JSON.stringify(data),
                               url: '/insertProj',
                               dataType: 'json',
                               contentType: 'application/json; charset=UTF-8',
                               success:success(data)
                            })
                       }
                       function success(data) {
                           console.log('Success: ', data)
                       }
             
                    </script>
      </ul>
    </div>
  </div> <!-- row -->
</div>
<!-- ##################################################################### -->

<div class="active dropdown-toggle">
  <div class="container">
  <section id="Staffing" class="home-section color-dark bg-white">
   <h1><span class="glyphicon glyphicon-th"></span> Projects that need staffing</h1>
   
   <div class="section-heading text-center">
     <form name = "insert_project_form">

     </form>
    </div> 
   </section>

  </div>

</div>
<!-- ##################################################################### -->

<div class="active dropdown-toggle">
  <div class="container">
  <section id="Satus" class="home-section color-dark bg-white">
   <h1><span class="glyphicon glyphicon-check"></span> Set Project Status</h1>
   <div class="section-heading text-center">
     <form name = "insert_project_form">

     </form>
    </div> 
   </section>

  </div>

</div>



</body>
</html>
